<h1>Phone Manufacturers</h1>

<ul>
  <% @phone_manufacturers.each do |manufacturer| %>
    <li>Name: <%= manufacturer.name %></li>
    <li>Country: <%= manufacturer.country %></li>
    <br>
  <% end %>
</ul>

<%= link_to "Add a Phone Manufacturer", new_phone_manufacturer_path %>
